@model Family.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile_Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile_Picture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_Mail)
        </dd>


        

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @if(Model.Gender)
            {
                <p>M</p>
            }
            else
            {
                <p>F</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marital_Status)
        </dt>

        <dd>
            @{ 
                string[] x = new string[] { "Single", "Engaged","Married"};
                <p>@x[Model.Marital_Status]</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About_me)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About_me)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTown)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
